suma-provider/src/main/resources/wsdl/ccgw2.1-notification.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ccgw2.1" xmlns:tns="http://ccgw.vas.gtp.pl/service/NotificationService/v10"
                  targetNamespace="http://ccgw.vas.gtp.pl/service/NotificationService/v10">

    <wsdl:types>
        <xsd:schema targetNamespace="http://ccgw.vas.gtp.pl/service/NotificationService/v10">
            <xsd:include schemaLocation="ccgw2.1-notification.xsd"/>
        </xsd:schema>
    </wsdl:types>
	
	<!-- https://ccgw.orange.pl/api/2.1 -->
	
	<!-- SUBSCRIPTION --> 
    <wsdl:message name="SubscriptionNotificationRequestMessage">
        <wsdl:part element="tns:activate-subscription-request" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="SubscriptionNotificationResponseMessage">
        <wsdl:part element="tns:activate-subscription-response" name="parameters"/>
    </wsdl:message>
	
	<!-- UNSUBSCRIPTION --> 
	<wsdl:message name="UnsubscriptionNotificationRequestMessage">
        <wsdl:part element="tns:deactivate-subscription-request" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="UnsubscriptionNotificationResponseMessage">
        <wsdl:part element="tns:deactivate-subscription-response" name="parameters"/>
    </wsdl:message>


    <wsdl:portType name="NotificationPortType">
        <wsdl:operation name="SubscriptionNotification">
            <wsdl:input message="tns:SubscriptionNotificationRequestMessage"/>
            <wsdl:output message="tns:SubscriptionNotificationResponseMessage"/>
        </wsdl:operation>
		<wsdl:operation name="UnsubscriptionNotification">
            <wsdl:input message="tns:UnsubscriptionNotificationRequestMessage"/>
            <wsdl:output message="tns:UnsubscriptionNotificationResponseMessage"/>
        </wsdl:operation>
		
    </wsdl:portType>

    <wsdl:binding name="NotificationSoap" type="tns:NotificationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SubscriptionNotification">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="UnsubscriptionNotification">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="NotificationService">
        <wsdl:port binding="tns:NotificationSoap" name="NotificationPort"/>
    </wsdl:service>

</wsdl:definitions>