suma-consumers/suma-consumer-ccgw/src/main/resources/wsdl/ccgw2.1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ccgw2.1" xmlns:tns="https://ccgw.orange.pl/api/2.1"
				  targetNamespace="https://ccgw.orange.pl/api/2.1">

	<wsdl:types>
        <xsd:schema targetNamespace="https://ccgw.orange.pl/api/2.1">
            <xsd:include schemaLocation="ccgw2.1.xsd" />
        </xsd:schema>
	</wsdl:types>

	<wsdl:message name="ChargeRequestMessage">
		<wsdl:part element="tns:charge-request" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ChargeResponseMessage">
		<wsdl:part element="tns:charge-response" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ReservationRequestMessage">
		<wsdl:part element="tns:reservation-request" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ReservationResponseMessage">
		<wsdl:part element="tns:reservation-response" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ConfirmationRequestMessage">
		<wsdl:part element="tns:confirmation-request" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ConfirmationResponseMessage">
		<wsdl:part element="tns:confirmation-response" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CancellationRequestMessage">
		<wsdl:part element="tns:cancellation-request" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CancellationResponseMessage">
		<wsdl:part element="tns:cancellation-response" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RefundRequestMessage">
		<wsdl:part element="tns:refund-request" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RefundResponseMessage">
		<wsdl:part element="tns:refund-response" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RefundStateByDatesRequestMessage">
		<wsdl:part element="tns:refund-state-by-dates-request" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RefundStateByIdRequestMessage">
		<wsdl:part element="tns:refund-state-by-tx-id-request" name="parameters" />
	</wsdl:message>
	<wsdl:message name="RefundStateResponseMessage">
		<wsdl:part element="tns:refund-state-response" name="parameters" />
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part element="tns:error" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetMsisdnRequestMessage">
		<wsdl:part element="tns:get-msisdn-request" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetMsisdnResponseMessage">
		<wsdl:part element="tns:get-msisdn-response" name="parameters" />
	</wsdl:message>
    <wsdl:message name="GetTransactionStateRequestMessage">
        <wsdl:part element="tns:get-transaction-state-request" name="parameters" />
    </wsdl:message>
    <wsdl:message name="GetTransactionStateResponseMessage">
        <wsdl:part element="tns:get-transaction-state-response" name="parameters" />
    </wsdl:message>

    <wsdl:portType name="CcgwPortType">
		<wsdl:operation name="Charge">
			<wsdl:input message="tns:ChargeRequestMessage" />
			<wsdl:output message="tns:ChargeResponseMessage" />
			<wsdl:fault name="ChargeFault" message="tns:Fault" />
		</wsdl:operation>
		<wsdl:operation name="Reservation">
			<wsdl:input message="tns:ReservationRequestMessage" />
			<wsdl:output message="tns:ReservationResponseMessage" />
			<wsdl:fault name="ReservationFault" message="tns:Fault" />
		</wsdl:operation>
		<wsdl:operation name="Confirmation">
			<wsdl:input message="tns:ConfirmationRequestMessage" />
			<wsdl:output message="tns:ConfirmationResponseMessage" />
			<wsdl:fault name="ConfirmationFault" message="tns:Fault" />
		</wsdl:operation>
		<wsdl:operation name="Cancellation">
			<wsdl:input message="tns:CancellationRequestMessage" />
			<wsdl:output message="tns:CancellationResponseMessage" />
			<wsdl:fault name="CancellationFault" message="tns:Fault" />
		</wsdl:operation>
		<wsdl:operation name="Refund">
			<wsdl:input message="tns:RefundRequestMessage" />
			<wsdl:output message="tns:RefundResponseMessage" />
			<wsdl:fault name="RefundFault" message="tns:Fault" />
		</wsdl:operation>
		<wsdl:operation name="RefundStateByDates">
			<wsdl:input message="tns:RefundStateByDatesRequestMessage" />
			<wsdl:output message="tns:RefundStateResponseMessage" />
			<wsdl:fault name="RefundStateByDatesFault" message="tns:Fault" />
		</wsdl:operation>
		<wsdl:operation name="RefundStateById">
			<wsdl:input message="tns:RefundStateByIdRequestMessage" />
			<wsdl:output message="tns:RefundStateResponseMessage" />
			<wsdl:fault name="RefundStateByIdFault" message="tns:Fault" />
		</wsdl:operation>
		<wsdl:operation name="GetMsisdn">
			<wsdl:input message="tns:GetMsisdnRequestMessage" />
			<wsdl:output message="tns:GetMsisdnResponseMessage" />
			<wsdl:fault name="GetMsisdnFault" message="tns:Fault" />
		</wsdl:operation>
        <wsdl:operation name="GetTransactionState">
            <wsdl:input message="tns:GetTransactionStateRequestMessage" />
            <wsdl:output message="tns:GetTransactionStateResponseMessage" />
            <wsdl:fault name="GetTransactionStateFault" message="tns:Fault" />
        </wsdl:operation>
    </wsdl:portType>

	<wsdl:binding name="CcgwSoap" type="tns:CcgwPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Charge">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ChargeFault">
				<soap:fault name="ChargeFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Reservation">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ReservationFault">
				<soap:fault name="ReservationFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Confirmation">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ConfirmationFault">
				<soap:fault name="ConfirmationFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Cancellation">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CancellationFault">
				<soap:fault name="CancellationFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Refund">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RefundFault">
				<soap:fault name="RefundFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RefundStateByDates">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RefundStateByDatesFault">
				<soap:fault name="RefundStateByDatesFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RefundStateById">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RefundStateByIdFault">
				<soap:fault name="RefundStateByIdFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetMsisdn">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="GetMsisdnFault">
				<soap:fault name="GetMsisdnFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="GetTransactionState">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GetTransactionStateFault">
                <soap:fault name="GetTransactionStateFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CcgwService">
		<wsdl:port binding="tns:CcgwSoap" name="CcgwPort" />
	</wsdl:service>

</wsdl:definitions>
